<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Google Icon Fonts used by Materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="stylesheets/style.css" />
    <!-- JavaScript for Materialize -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://kit.fontawesome.com/2ec42d532e.js" crossorigin="anonymous"></script>
    <title>About</title>
</head>

<body>
    <header>
        <nav class="nav-wrapper">

            <a href="/Homes" class="brand-logo left">AIR B & LET B</a>
            <ul class="right">

                <li> <a href="/Homes">Home</a> </li>
                <li> <a href="/">About</a></li>
                <li> <a href="/Homes/<%= user._id %>">Become A Host</a></li>
                <li> <a href="/Homes/<%= user._id %>/myHomes">My Homes</a></li>
                <li> <a href="/Homes/<%= user._id %>/myStays">My Stays</a></li>
                <% if (user) { %>
                <li> <a href="/logout"><%=user.name%></a></li>

                <% } else { %>
                <li> <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a></li>
                <% } %>
            </ul>
            </div>
        </nav>
    </header>
    <div style="display:block; width: 90%; padding-left:7%; text-align: center;">
        <h4 style="text-decoration: underline;">ABOUT</h4>
        <p>Air B & Let B was developed as an example of a basic CRUD application built with Express, Node JS, Mongo,
            Mongoose, and ejs. The concept was built off of an exsisting concept known to the public as Air B and B. The
            platform allows users to be either a host or a renter of properties for short term rentals. </p>
        <br>
        <h4 style="text-decoration: underline;">AS A RENTER</h4>
        <p> As a renter, a user will choose a property from the list of avialable properties. Once selected, the user
            will
            review the property details, and then select the duration of the users stay by selected check in/out dates.
        </p>
        <br>
        <h4 style="text-decoration: underline;">AS A OWNER</h4>
        <p> As an owner, a user will choose to list a property from the navigation bar. The owner will then enter in
            basic
            property information. In addition, they will also provide a brief description.</p>
    </div>
</body>

</html>